@import '~react-md/src/scss/react-md';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map-container {
  @media #{$md-mobile-media} {
    top: $md-toolbar-mobile-portrait-height;
  }

  @media #{$md-mobile-landscape-media} {
    top: $md-toolbar-mobile-landscape-height;
  }

  @media #{$md-tablet-media} {
    top: $md-toolbar-tablet-height;
  }
  bottom: 0;
  width: 100%;
  touch-action: none;
  position: absolute;

  // Disable accidental selection of this container - no magnifying glass on
  // the map for iOS, etc.
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.omnicard,
.floating-buttons,
.feature-card {
  z-index: 4;
}
.div{
   color:blue;
   width: 500px;
   height: 400px;
   background-color:grey;
}
.closeButton{
   left: 550px;
}
.tutorialButton{
   width: 100%;
   height: 200px;
   font-size: 30px;
}
.main{
   width: 75%;
   height: 80%;
   background-color: white;
}

.inner{
   width: 100%;
   height: 100%;
}
table{
   position: relative;
   width: 100%;
}
.inclinegif{
   width: 80%;
}
.tutorialText{
   font-family: helvetica;
   font-size: 16px;
}
